body {

  background-image: url("file:../media/images/fondo.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

h1 {
  font-family: 'Inknut Antiqua',serif;
  font-size: 70px;
  color: WHITE;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  font-family: 'Inknut Antiqua',serif;
  color: WHITE;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
}

nav {
  font-family: 'Inknut Antiqua',serif;
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}

li {
  margin: 30px 10px;
}

#NuevaPartida {
  color: GRAY;
}

#CargarPartida {
  color: GRAY;
}
