/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#video-body {
  background-color: black;
}

#video-presentacion {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

#fondo-seleccion {
  background-image: url("file:../media/images/fondo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#sel-sections {
  font-size: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}

.sel-section {
  display: table-cell;
  font-size: medium;
  height: 100%;
  padding: 10px 20px;
  width: 33%;
}

#a, #av {
  width: 100%;
}

.sel-form {
  padding-top: 20px;
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  color: #C3C9C9;
}

#raza, #sexo, #rol, #nombre {
  font-family: "Inknut Antiqua", serif;
}

#descripcion-rol, #descripcion-raza {
  background-color: rgba(44, 45, 46, 0.5);
  color: #C3C9C9;
  font-family: "Inknut Antiqua", serif;
  padding: 10px;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-horizontal {
  height: 100%;
  display: flex;
  justify-content: center;
}

form label {
  margin: 10px 0;
  width: 30%;
}

form input {
  margin: 10px 0;
  width: 70%;
}

form select {
  margin: 10px 0;
  width: 70%;
}

form button {
  margin-top: 20px;
  width: 30%;
}

#titulo-carga {
  font-family: "Inknut Antiqua", serif;
  font-size: 80px;
  margin: 0px 10px 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #C3C9C9;
  text-shadow: 4px 4px 2px BLACK;
}

#fondo-cargapartida {
  background-image: url("file:../media/images/fondo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.slot {
  background-color: #2C2D2E;
  box-shadow: 0 0 20px #B5B5B5;
  display: table;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px 10px;
  width: 75%;
  font-family: "Inknut Antiqua", serif;
  color: #C3C9C9;
}

.slot:hover {
  box-shadow: 0 0 40px white;
}

.img-slot {
  width: 150px;
  height: 150px;
}

.slot-column {
  display: table-cell;
}

.slot-column p {
  margin-bottom: 30px;
}

.slot-column h6 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

#fondo-index {
  background-image: url("file:../media/images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#titulo-index {
  font-family: "Inknut Antiqua", serif;
  font-size: 70px;
  color: #C3C9C9;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

#titulo2-index {
  font-family: "Inknut Antiqua", serif;
  color: #C3C9C9;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#lista-index {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}

.elemento-lista {
  color: #B5B5B5;
  margin: 30px 10px;
  text-decoration: none;
}

.elemento-lista:hover {
  text-decoration: underline;
}

header {
  background-color: black;
  color: #C3C9C9;
}

.juego {
  background-color: black;
  font-family: "Inknut Antiqua", serif;
  color: #C3C9C9;
  height: 100%;
  width: 100%;
}

.col-juego-r {
  float: right;
  width: 50%;
}

.col-juego-l {
  float: left;
  width: 50%;
}

.fila-juego {
  width: 100%;
}

#navegacion {
  margin: auto;
  width: 300px;
}

.espacio-controllers {
  display: inline-block;
  width: 60px;
}

#controllers {
  display: table;
  margin: auto;
  padding-top: 20px;
}

#texto-juego {
  background-color: #B5B5B5;
  color: #2C2D2E;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

#titulo-juego {
  font-family: "Inknut Antiqua", serif;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.barra-vida {
  padding: 10px 0 0 10px;
}

.barra-nivel {
  padding: 10px 0 0 10px;
}

.objetos-jugador {
  padding: 10px 0 0 10px;
}

.lista-objetos {
  padding: 10px 0 0 10px;
}

p {
  padding: 10px 10px 0 10px;
}

h4 {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.barra-nivel p, .estadisticas-1 p, .estadisticas-2 p {
  display: inline-block;
}

.estadisticas-3 {
  text-align: left;
}

#equipocarac {
  background-color: #2C2D2E;
  display: table;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#go-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#go-volverjugarvictoria {
  font-family: "Inknut Antiqua", serif;
  font-size: 60px;
  color: #455454;
  text-shadow: 2px 2px 8px green;
}

#go-volverjugarderrota {
  font-family: "Inknut Antiqua", serif;
  font-size: 60px;
  color: #455454;
  text-shadow: 2px 2px 8px red;
}

#go-playagain {
  text-align: center;
  padding-top: 150px;
}

#go-titulo {
  font-family: "Inknut Antiqua", serif;
  font-size: 80px;
  text-align: center;
  padding-bottom: 150px;
  text-transform: uppercase;
}

.go-victoria {
  font-family: "Inknut Antiqua", serif;
  font-size: 50px;
  color: #455454;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

.go-victoria #go-titulo {
  color: #2C2D2E;
}

.go-derrota {
  font-family: "Inknut Antiqua", serif;
  font-size: 50px;
  color: #B5B5B5;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

.go-derrota #go-titulo {
  color: #B5B5B5;
}

#go-error {
  font-family: "Inknut Antiqua", serif;
  font-size: 200px;
  color: #B5B5B5;
  padding-top: 250px;
  text-align: center;
  text-shadow: 4px 4px 6px red;
}

h3 {
  padding: 15px;
}

#tienda, #mejora {
  overflow: scroll;
  width: 300px;
  height: 300px;
  padding: 15px;
}

.botontienda:hover {
  background-color: green;
}

.botontienda2:hover {
  background-color: red;
}

#volverjuegotienda {
  float: right;
  margin-top: 25px;
  width: 100px;
  height: 50px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

#menu-mochila {
  background-color: white;
  box-shadow: 0 0 3px #B5B5B5;
  display: none;
  font-family: "Inknut Antiqua", serif;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.opcion-menu {
  padding: 5px;
  cursor: pointer;
}

.opcion-menu:hover {
  color: #C3C9C9;
}

#origen-menu {
  display: none;
}
