@import './css/reset';

//Variables
$fuente-principal: 'Inknut Antiqua',serif;;
$color-principal: #2C2D2E;
$color-secundario: #B5B5B5;
$color-terciario: #455454;
$color-letra: #C3C9C9;

@mixin color-go($victoria) {
  //Cambiamos el color de la barra de vida en funcion de la vida actual
  @if $victoria == 's'{
    text-shadow: 2px 2px 8px green;
  } @else {
    text-shadow: 2px 2px 8px red;
  }
}

#video-body {
  background-color: black;
}

#video-presentacion {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

#fondo-seleccion {
  background-image: url("file:../media/images/fondo3.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#sel-sections {
  font-size: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}

.sel-section {
  display: table-cell;
  font-size: medium;
  height: 100%;
  padding: 10px 20px;
  width: 33%;
}

#a, #av {
  width: 100%;
}

.sel-form {
  padding-top: 20px;
  text-align: center;
  font-family: $fuente-principal;
  color: $color-letra;
}

#raza, #sexo, #rol, #nombre {
  font-family: $fuente-principal;
}

#descripcion-rol, #descripcion-raza {
  background-color: rgba(44, 45, 46, 0.5);
  color: $color-letra;
  font-family: $fuente-principal;
  padding: 10px;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-horizontal {
  height: 100%;
  display: flex;
  justify-content: center;
}

form {
  label {
    margin: 10px 0;
    width: 30%;
  }

  input {
    margin: 10px 0;
    width: 70%;
  }

  select {
    margin: 10px 0;
    width: 70%;
  }

  button {
    margin-top: 20px;
    width: 30%;
  }
}

//CargaPartida
#titulo-carga {
  font-family: $fuente-principal;
  font-size: 80px;
  margin: 0px 10px 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: $color-letra;
  text-shadow: 4px 4px 2px BLACK;
}

#fondo-cargapartida {
  background-image: url("file:../media/images/fondo2.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.slot{
  background-color: $color-principal;
  box-shadow: 0 0 20px $color-secundario;
  display: table;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px 10px;
  width: 75%;
  font-family: $fuente-principal;
  color: $color-letra;
}

.slot:hover {
  box-shadow: 0 0 40px white;
}

.img-slot {
  width: 150px;
  height: 150px;
}

.slot-column{
  display: table-cell;

  p {
    margin-bottom: 30px;
  }

  h6 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
//Index.html
#fondo-index {

  background-image: url("file:../media/images/fondo.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#titulo-index {
  font-family: $fuente-principal;
  font-size: 70px;
  color: $color-letra;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

#titulo2-index {
  font-family: $fuente-principal;
  color: $color-letra;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#lista-index {
  font-family: $fuente-principal;
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}

.elemento-lista {
  color: $color-secundario;
  margin: 30px 10px;
  text-decoration: none;

}

.elemento-lista:hover {
  text-decoration: underline;
}

//juego

header {
  background-color: black;
  color: $color-letra;
}

.juego{
  background-color: black;
  font-family: $fuente-principal;
  color: $color-letra;
  height: 100%;
  width: 100%;
}

.col-juego-r{
  float: right;
  width: 50%;
}

.col-juego-l{
  float: left;
  width: 50%;
}

.fila-juego{
  width: 100%;
}

#navegacion {
  margin: auto;
  width: 300px;
}

.espacio-controllers {
  display: inline-block;
  width: 60px;
}

#controllers {
  display: table;
  margin: auto;
  padding-top: 20px;
}

#texto-juego {
  background-color: $color-secundario;
  color: $color-principal;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

#titulo-juego {
  font-family: $fuente-principal;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.barra-vida {
  padding: 10px 0 0 10px;
}

.barra-nivel {
  padding: 10px 0 0 10px;
}

.objetos-jugador {
  padding: 10px 0 0 10px;
}

.lista-objetos {
  padding: 10px 0 0 10px;
}

p {
  padding: 10px 10px 0 10px;
}

h4 {
  font-size: 20px;
  padding-top: 5px;
}

.barra-nivel, .estadisticas-1, .estadisticas-2 {
  p {
    display: inline-block;
  }
}

.estadisticas-3 {
  text-align: left;
}

#equipocarac {
  background-color: $color-principal;
  display: table;
  margin: auto;
  padding: 10px;
  text-align: center;
}

//gameover
#go-section {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#go-volverjugarvictoria {
  font-family: $fuente-principal;
  font-size: 60px;
  color: $color-terciario;
  @include color-go('s');
}

#go-volverjugarderrota {
  font-family: $fuente-principal;
  font-size: 60px;
  color: $color-terciario;
  @include color-go('n');
}

#go-playagain {
  text-align: center;
  padding-top: 150px;
}

#go-titulo {
  font-family: $fuente-principal;
  font-size: 80px;
  text-align: center;
  padding-bottom: 150px;
  text-transform: uppercase;
}

.go-victoria {
  font-family: $fuente-principal;
  font-size: 50px;
  color: $color-terciario;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px white;

  #go-titulo {
    color: $color-principal;
  }
}

.go-derrota {
  font-family: $fuente-principal;
  font-size: 50px;
  color: $color-secundario;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px white;

  #go-titulo {
    color: $color-secundario;
  }
}

#go-error {
  font-family: $fuente-principal;
  font-size: 200px;
  color: $color-secundario;
  padding-top: 250px;
  text-align: center;
  text-shadow: 4px 4px 6px red;
}

h3{
  padding: 15px;
}

#tienda, #mejora, #cofre{
  overflow: scroll;
  width: 300px;
  height: 300px;
  padding: 15px;
}

.botontienda:hover{
  background-color: green;
}

.botontienda2:hover{
  background-color: red;
}

#volverjuegotienda, #volverjuegocofre{
  float:right;
  margin-top: 25px;
  width: 100px;
  height: 50px;
}

table{
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
